ListenHTTP
    Address {{Pound_LoadBalancerHTTPIP}}
    Port {{Pound_LoadBalancerHTTPPort}}
End

ListenHTTPS
    Address {{Pound_LoadBalancerHTTPSIP}}
    Port    {{Pound_LoadBalancerHTTPSPort}}
    Cert    "/etc/pki/tls/certs/pound.pem"
End

Service

array(
   BackEnd
     Address {{Pound_WebserverIP}}
     Port {{Pound_WebserverPort}}
   End
 );
End

