ListenHTTP
    Address {{Pound_LoadBalancerHTTPIP}}
    Port {{Pound_LoadBalancerHTTPPort}}
End

ListenHTTPS
    Address {{Pound_LoadBalancerHTTPSIP}}
    Port    {{Pound_LoadBalancerHTTPSPort}}
    Cert    "/etc/pki/tls/certs/pound.pem"
End

Service

{% set _pound = {} %}
{% set _ = _pound.update({'webservers': item.webservers|default([])}) %}

{% for webserver in _pound['webservers'] %}

{% if host.ip is string %}
Address {{ webserver.name.ljust(20) }}

{% if host.port is string %}
Port {{ webserver.port.ljust(20) }}

{% if host.priority is string %}
Priority {{ webserver.priority.ljust(20) }}

{% endfor %}


End

